.menu {
    text-align: center;

    margin: 10%;
}



#coffee {
    width: 40vw;

}



.main-article {
    display: flex;
}

.text {
    padding: 5%;
    width: 60vw;


}

main {

    justify-content: stretch;
    flex-direction: row;
    display: flex;
    flex: 1;
}

.main-text {

    font-family: 'Jost', sans-serif;
    font-size: x-large;

    padding-right: 1vw;
}



#logo {
    width: 109px;
    height: 36px;
}

footer {
    text-align: center;

}

.footer {
    border: 1px solid pink;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    width: 10%;
    ;
}

.contact-details {
    display: flex;

}

.adress {
    background-color: rgba(202, 126, 90, 0.25);
}

.main-article h5:hover {
    animation-name: change-color;
    animation-duration: 5s;

}

a.link:hover {
    color: red;
}

a.link:visited {
    color: blue;
}

.linkf {
    color: black;
    text-decoration: none;

}

.linkf:hover {
    color: darkorchid;
    text-decoration: underline;
}



.link {
    color: black;
    text-decoration: none;
    /* без подчеркивания */
    margin-left: 2vw;
}

.main-text:first-letter {
    font-weight: bold;
    font-size: large;
}

/* The animation code */
@keyframes change-color {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}