body {
    min-height: 100vh;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
}

.header {

    display: flex;
    justify-content: center;
    background-color: rgb(233, 231, 231);
    padding: 1%;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: stretch;



}

section {
    flex: 1;
    background-color: rgb(255, 238, 223);
    align-items: flex-end;

}

.moreup {
    display: inline-flex;

    width: 35vw;
    padding: 1%;
    margin: 5px;
    background-color: rgb(255, 214, 138);

}

.moredown {
    display: inline-flex;

    width: 73vw;
    padding: 10px;
    margin: 5px;
    background-color: rgb(255, 214, 138);

}


.aside {
    width: 20vw;
    background-color: lightgreen;
}

.footer {

    background-color: white;
    padding: 1%;
    width: 17vw;
    text-align: center;


}

.footers {

    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;


}

p {
    align-self: center;

}